[submodule "ext/opencv"]
	path = ext/opencv
	url = git@github.com:mmaccamy-zspace/system.opencv.4.8.1.git
[submodule "ext/opencv.contrib"]
	path = ext/opencv.contrib
	url = git@github.com:mmaccamy-zspace/system.opencv.contrib.4.8.1.git
